{% extends 'base.html' %}

{% block content %}
<h1>
    {{ game.name }}
</h1>
<h2> 
    num of levels:{{ game.number_of_lvls }}
</h2>

{{ locations }}
{{ game.locations.all }}

<h3> all the locations:
    
</h3>

<h4>
    Your Account Balance: $<span id="bank">500</span>
</h4>

<section id="choose">
    
    {% for key, value in clues.items %}
    
    <button>{{ key }}
    </button>

    
    {% endfor %}
    
</section>

<script>
    let buttonLabel, noOfClicks;
    
    let clueVal = {};
    let clues = {};  
    let i = 0;

    const cost = [100,
        80,
        75,
        70,
        65,
        50,
        20,
        10  
    ];

</script>


{% for key, value in clues.items %}
    
    <script>
        buttonLabel = '{{ key }}';
        clueDesc = '{{ value }}';

        // console.log('btn label : ',buttonLabel)
        // console.log('clue: ', clueDesc)
        // console.log(i)

        clueVal.clue = clueDesc;
        clueVal.cost = cost[i];

        clues[buttonLabel] = clueVal;
     
        i++;
    </script>



    
{% endfor %}


<script>
    const load = () => {
        
        // console.log('hi script is working');
        
        const myChoice = document.getElementById('choose');
        const myBankEl = document.getElementById('bank');
        
        let bank = 500;
        
        // console.log('choice is: ', myChoice)
        // console.log('choice is: ', myBankEl)

        myChoice.addEventListener('click', mouseEvent => {
            clickedOn = mouseEvent.target.innerText;

            clickedOn.innerText = clues[clickedOn].clue
            
            // bank = bank - clues[clickedOn].cost
            
            // console.log(clues)
            
            render()
        })
       
        
        function render() {
            myBankEl.innerText = `${bank}`;
            // console.log(myBankEl)
        }
        
    }

     
    window.onload = load;

    
</script>

<script>
      let locations = [];
      let locationIds = [];
    console.log('{{ locations }}')
</script>

{% for location in locations %}
    <script>
    
    
        myLocationName = '{{ location.location_name }}'
        myLocationId = '{{ location.id }}'
        
        
        locations.push(myLocationName);
        locationIds.push(myLocationId);
    
        console.log('in order where Frank is: ',locations)
          
    </script>
{% endfor %}

<script>
    
        
        let banks = 100;
        
        function deduct(mouseEvent){
            banks = banks - 10
            
            noOfClicks++
            
            // console.log(banks)
            // console.log(mouseEvent.target)
            // console.log(mouseEvent.target.innerText)
            
            render()
        }
        </script> 
         
         
         
         
         
         <input id="answer" value="" placeholder="where's Frank ?">
            <button id="findbtn" >
            Find Frank !
        </button>
<div id="banki">500</div>
<button id="banking">
    push to win money lol
</button>




<script>
let win = document.getElementById("banking");
let findbutton = document.getElementById("findbtn")
let answer = document.getElementById("answer")


win.onclick = function winMoney() {
    document.getElementById("banki").innerText = Number(banki.innerText) + 1};

findbutton.addEventListener("click", function(e){
    if (answer.value.toUpperCase() == locations[0]) {
        console.log('winner winner chicken dinner')
    } else {
        console.log ('WRONG')
    }
    // answer = 
});
</script>



{% endblock %}