{% extends 'base.html' %}
{% block content %} 


sk.eyJ1IjoiYmVubnliZW5zb24iLCJhIjoiY2t0MXA1bGRnMGhnejJ1bnMyeWp4d2NlaiJ9._4W5yO66Gu7tp0EE5J_goQ

<!-- <h1>Hey dude where's frank??!!</h1>
<style>
    #map {
      height: 100%;
    }
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
<div id="map">
  
</div>
<script async src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
</script>
<script>
let map;

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: -34.397, lng: 150.644 },
    zoom: 0,
  });
}

</script> -->
   
{% endblock %}